<div class="chathall-form">
  <%= form_for hall, remote: true do |f| %>
    <div class="input-group">
      <span class="input-group-addon">Hall Name:</span>
      <%= f.text_field :name, class: "form-control"%>
    </div><br />
    <%= f.submit class: "btn btn-primary", id: "create-hall" %>
  <% end %>
</div>
