<div class="row col-md-8 col-md-offset-2" id="chatrooms">
  <%= render partial: 'hall_form', locals: {hall: @hall} %>
  <div id="hall-errors">

  </div>
  <hr />
</div>

<div class="row col-md-8 col-md-offset-2">
  <h2>Chat Halls</h2>

  <ul id="hall-index">
  <% if @halls.any? %>
      <%= render @halls %>
  <%else %>
    </ul>
    <p>No chat halls here, create the first one!</p>
  <% end %>
</div>
