<div class="jumbotron">
  <h2>Create a Chat Hall </h2>
  <%= form_for @hall do |f| %>
    <div class="input-group">
      <span class="input-group-addon">name:</span>
      <%= f.text_field :name, class: "form-control"%>
    </div><br />
    <%= f.submit class: "btn btn-primary", id: "create-chathall" %>
  <% end %>

  <%= render partial: 'layouts/flash_errors'%>
</div>
