default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: localhost
  username: postgres

development:
  <<: *default
  database: ExpertPotato_development

test:
  <<: *default
  database: ExpertPotato_test

production:
  <<: *default
  database: ExpertPotato_production
  username: ExpertPotato
  password: <%= ENV['EXPERTPOTATO_DATABASE_PASSWORD'] %>
